@model IEnumerable<Rental.Models.VehicleRental>

@{
    ViewData["Title"] = "Index";
}

<h1>My Rentals</h1>

<p>
    <a asp-controller="Vehicles" asp-action="Index">New Rental</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicle.Make)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehicle.Make)
            </td>
            <td>
               <a asp-action="Details" asp-controller="VehicleRentals"asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
