@model Rental.Models.Vehicle


@{
    ViewData["Title"] = "Details";
}

<h1> Vehicle Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickupLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickupLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>

        <img class="col-sm-10 img-fluid max-width detail-vehicle"src=@Model.ImageURL />


    </dl>
</div>
<div>
    <a asp-controller="VehicleRentals" asp-action="Create" asp-route-id="@Model.Id"><button class="btn btn-info">Submit</button></a>
    <a asp-action="Index">Back to List</a>
</div>

@*asp-route-id="@Model.Id"*@